<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset='utf-8'>
<title>IRC Manager</title>
</head>
<body>
	<p><h1>Assignment 2</h1>
	<form action="/admin" method="post">
		<input type="hidden" name="action" value="add_channel"
		<fieldset>
			<legend>Name</legend>
			<input type="text" name="channel-name">
			<legend>Favorite Website (url)</legend>
			<input type="url" name="url_name">
			<legend>How old are you?</legend>
			<input type="number" name="age_num">
			<legend>Do you believe in aliens?</legend>
			<input type="radio" name="check" value="yes"> Yes <br>
			<input type="radio" name="check" value="no" checked> No <br>
			{% if classes | length > 0 %}
			<fieldset>
				<legend> Favorite movie genre </legend>
					{% for c in classes %}
					<label> {{ c.name }} </label><input type="checkbox" name="classes[]" value="{{ c.key }}">
					{% endfor %}
			</fieldset>
			{% endif%}
			<input type="submit" value="Add Information">
		</fieldset>
	</form>
	<form action ="/admin" method="post">
		<input type="hidden" name="action" value="add_class">
		<fieldset>
			<legend>Add Genre</legend>
			<input type="text" name="class-name">
			<input type="submit" value="Add">
		</fieldset>
	</form>
	{% if channels|length > 0 %}
	<section>
		<h2>Edit Information</h2>
		{% for ch in channels %}
		<a href='/edit?key={{ ch.key }}&type=channel'>{{ ch.name }}</a>
		{% endfor %}
	</section>
	<section>
		<h2>View Information</h2>
		{% for ch in channels %}
		<a href='/view?key={{ ch.key }}&type=channel'>{{ ch.name }}</a>
		{% endfor %}
	</section>
	{% endif %}
	{% if message %}
	<section>
		<h3>Result</h3>
		<p>{{message}}
	</section>
	{% endif %}

</body>
</html>
